.profileContainer {
    position: relative;
    top: 0;
    left: 0;
    right: 0;

    background-color: white;
    padding: 16px;
    margin: 0 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    width: 40px;
    height: 40px;
}

.profileimage {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    /* border-radius: 120px; */
    background: lightgray -55.695px 0px / 150% 100% no-repeat, #D9D9D9;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.profilename {
    font-size: 18px;
    font-weight: bold;
}

.options {
    list-style: none;
    padding: 0;
}

.options li {
    padding: 16px 0;
    border-bottom: 1px solid #eee;
}

.textColor {
    color: #343A40;
}